
@using EpiserverSiteWithEmpty.Business
@using EPiServer.Core
@using EpiserverSiteWithEmpty.Helpers
@using EPiServer

@{
    var contentRepository = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentRepository>();

    var childPages = contentRepository.GetChildren<PageData>(ContentReference.StartPage);
}

<div class="alloyMenu">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="@(Model.CurrentPage.ContentLink.CompareToIgnoreWorkID(ContentReference.StartPage) ? "active" : null)">
                        @Html.PageLink(ContentReference.StartPage)
                    </li>
                    @Html.MenuList(ContentReference.StartPage,@<li class="@(item.Selected ? "active" : null)">
                        @Html.PageLink(item.Page)
                    </li>)
                </ul>
                <did class="navbar-search pull-right">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new
                    {
                        @action = DataFactory.Instance
                            .Get<EpiserverSiteWithEmpty.Models.Pages.StartPage>(PageReference.StartPage)
                            .SearchPageLink.
                            ExternalURLFromReference()
                    }))
                    {
                        <input type="text" class="search-query" name="q" id="SearchKeywords"
                               placeholder="Search"/>
                        <input type="submit" class="searchButton" id="SearchButton" value=""/>
                    }
                </did>

            </div>
        </div>
    </div>
</div>