@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EpiserverSiteWithEmpty.Models.viewModels.DefaultPageViewModel<EpiserverSiteWithEmpty.Models.Pages.StartPage>
@*@model EpiserverSiteWithEmpty.Models.Pages.StartPage*@



<h1 @Html.EditAttributes(x => x.CurrentPage.Heading)>
    @(Model.CurrentPage.Heading??Model.CurrentPage.PageName)
</h1>
<div>
    @Html.PropertyFor(m => m.CurrentPage.MainBody)
</div>


@*

<h1 @Html.EditAttributes(x => x.Heading)>
    @(Model.Heading ?? Model.PageName)
</h1>
<div>
    @Html.PropertyFor(m => m.MainBody)
</div>
*@
